body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 300px;
    height: auto;
	align-content:left;
}

nav {
    display: flex;
}
nav a {
    color: #473E48;
    text-decoration: none;
    padding: 0 15px;
	font-size:25px;
}
nav2 a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
	font-size:15px;
}
main {
	display:grid;
	grid-template-columns: 1fr 1fr;
	vertical-align:middle;
	gap:10px;
	padding:10px;
}

h1 {
	align-content:center;
	align-content:middle;
}
h2{
	align-content: middle;
	align-text:middle;
}
main2 {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	vertical-align:middle;
	gap:10px;
	padding:30px;
}

img{
	max-width:100%;
}

button {
	display: inline-block;
	padding: 10px 50px;
	margin: 0 20px;
	text-decoration: none;
	color: white;
	background-color: #473E48;
	border-radius: 8px;
	font-weight: bold;
}

.column {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:flex-start;
    padding: 10px;
}
.column2 {
	display:wrap;
	flex-direction:column;
	justify-content:left;
	align-items:flex-start;
    padding: 00px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: right;
}

#logoWhite {
    width: 300px;
    height: auto;
	align-content:left;
}
