@font-face {
    font-family: inter;
    src: url(font/Inter-Regular.ttf);
}

nav {
    position: sticky;
    top: 0px;
    text-align: right;
    height: 90px;
    width: auto;
    z-index: 1;
    padding-right: 25px;
    background-color: white;
}

.navlink {
    /* border: 1px solid #333; */
    text-decoration: none;
    top: 30px;
    position: relative;
    font-size: 16px;
    color: #473E48;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

.menu-toggle {
    cursor: pointer;
    display: none;
    /* Initially hide for larger screens */
}

body {
    margin: 0;
    font-family: inter;
    color: #473E48;
}

/* header {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 20px;
} */

#logo {
    position: fixed;
    width: 250px;
    top: 10px;
    left: 10px;
}

nav2 a {
    color: white;
    text-decoration: none;
    padding: 0 9px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #2E2731;
}


.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color:#2E2731;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.hamburger {
    display: none;
}

footer {
    background-color: #473E48;
    color: #E9E8EE;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 60px;
    align-content: center;
    align-content: middle;
    padding-bottom: 40px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

h6 {
    text-align: right;
    font-weight: 500;
    margin: 10px 10px -35.5px -10px;
}

p {
    font-size: 14px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 8px 48px 8px 48px;
    grid-column-gap: 20px; /* Horizontal gap */
}

.empty-container{
		display:flex;
		justify-content:center;
		align-content:center;
	}

.full {
    grid-column: 1 / -1;
    padding-bottom: 16px;
}

.twocol {
    grid-column: span 2;
    padding-bottom: 16px;
}

.threecol {
    grid-column: span 3;
    padding-bottom: 16px;
}

.fourcol {
    grid-column: span 1;
    padding-bottom: 16px;
}

.footer-col {
    grid-column: span 2;
}

.footer h1 {
    font-size: 64px;
    align-content: center;
    align-content: middle;
    padding-left: 12px;
}

.footer h2 {
    font-size: 48px;
    padding-left: 12px;
    
}

.footer h3 {
    font-size: 32px;
    padding-left: 12px;
}

.footer h4 {
    font-size: 24px;
    font-weight: bold;
    padding-left: 12px;
}

.footer h6 {
    text-align: right;
    font-weight: 500;
    margin: 10px 10px -35.5px -10px;
    padding-left: 12px;
}

.footer p {
    font-size: 14px;
    padding-left: 12px;
}

.link-container {
    position: relative;
}

.link-container2 {
    position: relative;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
}

.img {
    display: block;
    max-width: 100%;
    border-radius: 24px;
}

.cover img {
    max-width: 100%;
    border-radius: 24px;
}

button {
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    background-color: #473E48;
    border-radius: 12px;
    font-weight: bold;
    box-shadow: none;
    outline: none;
    text-align: left; /* Use text-align to align button content to the left */
}

button:hover {
    background-color: #E9E8EE;
    color: #473E48;
    border: none;
}

.zoom {
    top: -12px;
    left: -24px;
    display: block;
    z-index: 999;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
}

.zoom:hover {
    transform: scale(1.02);
}

.content-wrapper {
    border: 2px solid lightgray;
    padding: 0px;
    border-radius: 26px;
    overflow: hidden;
    space: relative;
    padding-bottom: 16px;
}

.content-wrapper img {
    margin-bottom: 16px;
    max-width: 100%;
}

.content-wrapper h1 {
    font-size: 64px;
    align-content: center;
    align-content: middle;
    padding-left: 12px;
}

.content-wrapper h2 {
    font-size: 48px;
    padding-left: 12px;
}

.content-wrapper h3 {
    font-size: 32px;
    padding-left: 12px;
}

.content-wrapper h4 {
    font-size: 24px;
    font-weight: bold;
    padding-left: 12px;
}

.content-wrapper h6 {
    text-align: right;
    font-weight: 500;
    margin: 10px 10px -35.5px -10px;
    font-size: 12px;
    padding-left: 12px;
}

.content-wrapper p {
    font-size: 14px;
    padding-left: 12px;
}


#logoWhite {
    width: 300px;
    height: auto;
    align-content: left;
}

.search-bar {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #473E48;
    color: white;
    cursor: pointer;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .profile {
    border: 2px solid lightgray; 
    border-radius: 26px;
    overflow: hidden;
    position: relative;
} */

.profile .content-wrapper {
    width: 100%;
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.profile img {
    display: block;
    /* Ensure image is block-level */
    max-width: 100%;
    /* Ensure image doesn't overflow the container */
    margin-bottom: 32px;
    /* Add margin at the bottom to create space */
}

.profile a {
    text-decoration: none;
    color: #2E2731;
}

.profile h1 {
    font-size: 64px;
    align-content: center;
    align-content: middle;
    padding-left: 12px;
}

.profile h2 {
    font-size: 48px;
    text-align: center;
    padding-left: 12px;
}

.profile h3 {
    font-size: 32px;
    padding-left: 12px;
}

.profile h4 {
    font-size: 24px;
    font-weight: bold;
    padding-left: 12px;
}

.profile h6 {
    text-align: right;
    margin: 10px 10px -35.5px -10px;
    padding-left: 12px;
    font-size: 16px;
}

.profile p {
    font-size: 14px;
    padding-left: 12px;
}

#adoption-form {
    max-width: 600px;
    margin: 0;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #473E48;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #2E2731;
}

#zip-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

#zip-form label {
    display: block;
    margin-bottom: 10px;
}

#zip-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#zip-form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #473E48;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#zip-form button[type="submit"]:hover {
    background-color: #2E2731;
}

#myDIV {
    background-color:#fff;
    display: none;
  }

/* The container */
.cmcontainer {
    display: inline-block;
    /* Change from block to inline-block */
    position: relative;
    padding-left: 44px;
    margin-right: 20px;
    /* Add margin between checkboxes */
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.cmcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.cmcontainer:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cmcontainer input:checked~.checkmark {
    background-color: #101010;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.cmcontainer input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cmcontainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* image carousel on pets page */
.carousel-container {
    width: auto;
    margin: 100 auto;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    white-space: nowrap;
}

.carousel-track img {
    width: 100%;
    height: auto;}

@media (max-width: 1000px) {
    h6 {
        display: none;
    }

@media (max-width: 768px) {	
	main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow-x: hidden;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 25px;
        left: 0;
        width: 100%;
        text-align: right;
    }

    .nav-links.active {
        display: flex;
    }
    
    .menu-toggle {
        display: block;
        /* Show the hamburger menu icon */
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 2;
    }

    .bar {
        display: block;
        width: 50px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }

    section {
        margin: 16px;
    }

    .fourcol {
        grid-column: span 1;
    }

    .twocol {
        grid-column: 1/ -1;
    }

    #logo {
        max-width: 200px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
        z-index: 2;
    }

    .nav-item {
        margin: 8px;
    }


    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 15px;
    }

    p {
        font-size: 12px;
    }

    h6 {
        display: none;
    }
    .content-wrapper {
        padding-bottom: 16px;
    }

    .content-wrapper img{
        padding-bottom: 0px;
    }

    .content-wrapper h6 {
        margin: 0px;
        padding-left: 12px;
    }

    .emptyblock {
        height: 100px;
    }

    img {
        padding-bottom: 15px;
    }

    .threecol {
        grid-column: 1 / -1;
    }

    .cmcontainer {
        padding-left: 44px;
        margin-right: 20px;
        padding-bottom: 8px;
    }
    main {
        display: grid;
        grid-template-columns: 1fr;
        overflow-x: hidden;
        margin: 24px;
    }
}

@media (max-width: 480px) {

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 25px;
        left: 0;
        width: 100%;
        text-align: right;
    }

    .nav-links.active {
        display: flex;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        overflow-x: hidden;
        margin: 16px;
    }

    .fourcol {
        grid-column: 1 / -1;
    }

    .footer-col {
        grid-column: 1 / -1;
    }

    #logo {
        max-width: 200px;
        padding-left: 20px;
    }

    .emptyblock {
        height: 50px;
    }

    .menu-toggle {
        display: block;
        /* Show the hamburger menu icon */
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 2;
    }
}

#emergency-page main {
    display: block;
    align-content: center;
    padding-bottom: 8%;
}

#bodylanguage-page main {
    display: block;
    align-content: center;
    padding-bottom: 8%;
}

#petowner-page main {
    display: block;
    align-content: center;
    padding-bottom: 8%;
}